/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

/* ============= form styles ============= */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 36px;
  padding: 0;
}

.form label {
  display: flex;
  flex-direction: column;
}

.form input {
  font-family: var(--font-family);
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 4px;
  min-width: 272px;
  outline: none;
}

.form input:focus,
.form input:hover {
  font-family: var(--font-family);
  color: #2e2f42;

  border: 1px solid #4e75ff;
  outline: none;
  background-color: transparent;
  background: #fff;
}

.form button {
  padding: 8px 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form button:hover {
  background-color: #6c8cff;
}

/* Loader styles */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.loader {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  overflow: hidden;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 8px;
  margin: auto;
  background: #222b32;
}
.loader:before {
  content: '';
  position: absolute;
  inset: -15px;
  margin: auto;
  background: #de3500;
  animation: diamondLoader 2s linear infinite;
}
@keyframes diamondLoader {
  0%,
  10% {
    transform: translate(-64px, -64px) rotate(-45deg);
  }
  90%,
  100% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
}

/* Gallery styles */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 32px;
  justify-content: center;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #808080;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-link {
  display: block;
  text-decoration: none;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.gallery-info {
  display: flex;
  gap: 16px;
  padding: 4px 20px 4px 20px;
  justify-content: space-around;
  background-color: #fff;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #2e2f42;
}

.info-item b {
  font-weight: 600;
}
